# Team List

This has the list of analyst in the team. We want to ensure our recommendations from this list / filter those not working in the team

TO-DO

- Co-op skills
- Match skills with the type of tickets resolved.
- 

Test Cases : 
    
- When an analyst is removed , added, skills updated, 

Nadia : 

- Some empployees have status as NaN. 
- What are these statuses : CWM , FTE CWM , FT CSW
-

In [3]:
import pandas as pd
import os

In [4]:
os.environ['PROJECT_DIR'] = "C:\\Users\\581686284\\PycharmProjects\\Automated_Ticket_Management-2\\"

In [10]:
columns = ['Name','Status','Employee #','Windows & Appliciation (Line of Business) Skillset']
team_sheet = pd.read_excel('C:\\Project\\Data\\Team\\Team List.xlsx' , header=1 , usecols = columns, index_col = 2)
team_sheet_without_leads = team_sheet.loc[team_sheet['Status'] != 'FTE Team Lead']
team_sheet_without_leads

,Name,Status,Windows & Appliciation (Line of Business) Skillset
Employee #,,,
191918473,"Aberin, Mario",FTE TSA,"Windows, Change Records, Applications: Some In..."
329338909,Animesh Das,Co-op,Windows
319749875,"Chohan, Sophia",FTE TSA,"Applications: PH&N, DS"
311145288,"Chaudry, Arusha",Co-op,NaN
856895107,"Liu, Chen C",Co-op,See Co-op Team Captain
184831246,"Cai, Charlotte",Co-op,See Co-op Team Captain
330086414,"Jaswal, Aman",Co-op,See Co-op Team Captain
328874185,"de Loyola, Krizia",FTE TSA,"Windows, Applications: DS"
648708485,"Deschenes, Sylvia",FTE TSA,Disable Windows ID; ADD-P; create app group; c...
848792669,"Dorney, Niamh",NaN,"Windows, Applications: UK WM, CM UK, UK I&TS (..."
535506877,"Feta, Samir",FTE TSA,"Applications: DS, PH&N, Cap Markets, SM9"
776883118,"Gibbons, Paul",FTE TSA,"Minimal Windows, Applications: Insurance, WM, SM9"
314884594,"Hardisty, Erin",NaN,"Windows, Applications: UK WM, CM UK, UK I&TS (..."
787489756,"Huston, Virgilia",FTE TSA,"Minimal Windows, SM9, Applications: I&TS, Add-..."
668401755,"Isaacs, Shannon",FTE TSA,Windows
329808695,"Iwu, Adaora",CWM,DS
544269145,"Jamal, Sarah",FTE TSA,"Windows (currently training), SM9"
330086414,"Jaswal, Aman",Co-op,See Co-op Team Captain
522079805,"Jereza, Agustin",FTE TSA,"Windows, Change Records, Triage, Applications:..."
698544350,"Jette, Christopher",FTE TSA,"Minimal Windows, Change Records, Applications:..."
521307710,"Johnston, Dan",NaN,"Windows, Applications: UK WM, CM UK, UK I&TS (..."
310294822,"Kadoura, Zaki",FTE TSA,"Minimal Windows, Change Records, Applications:..."
291180362,"Lilbourne, Lauren",FTE TSA,"Windows, Some apps (Berton, BTS069,SecureAPI a..."
631444387,"MacLellan, JD (Jon)",FTE TSA,"Windows, Applications: UK I&TS, some DS, Base 24"
191458827,"MariaFrancis, Jennifia",FTE TSA,"Minimal Windows, Change Records, SM9, Applicat..."
956519110,"McQuarrie, Andrew",FTE TSA,"Windows, Change Records, Applications: UK I&TS..."
936531946,"McQuarrie, Katrina",FTE TSA,"Windows, Change Records, Applications: UK I&TS,"
312363658,"Mostoles, Sherylle",FTE TSA,"Medium Windows Knowledge, Applications: I&TS C..."
535902738,"Papagiannidis, Kostas",FTE TSA,"Co-op Team Captain, Windows, Change Records, A..."
850772930,"Patel, Rita",FTE TSA,"Medium Windows Knowledge, Applications: I&TS C..."
535567176,"Sandhawalia, Soby",FTE TSA,"Windows, Change Records, SM9, Applications: Sy..."
318215316,"Shah, Rohan",FTE TSA,"Medium Windows Knowledge, Applications: CM, WM..."
328453238,Singh Malikpreet,FTE CWM,Applications: DS
180190019,"Stone, Randall",FTE TSA,"Windows, Some Change Records, Applications: UK..."
324653500,"Swaby, Oraine",FT CSW,"Windows, SM9, DS, RIMMS"
178412342,"Tompkins, Kevin",FTE TSA,"Windows, Triage, some UK I&TS"
311485742,"Wrona, Anna",NaN,"Windows, Applications: UK WM, CM UK, UK I&TS (..."

In [21]:
# Get analyst info by Employee #
team_sheet_without_leads.loc[311485742]

Name                                                                                        Wrona, Anna
Status                                                                                              NaN
Windows & Appliciation (Line of Business) Skillset    Windows, Applications: UK WM, CM UK, UK I&TS (...
Name: 311485742, dtype: object

In [23]:
team_sheet_without_leads.loc[team_sheet_without_leads['Name'] == 'Sandhawalia, Soby']

,Name,Status,Windows & Appliciation (Line of Business) Skillset
Employee #,,,
535567176,"Sandhawalia, Soby",FTE TSA,"Windows, Change Records, SM9, Applications: Sy..."

# Vacation Calender

In [26]:
import pandas as pd
import os

jan_vacation = pd.read_excel('C:\\Project\\Data\\VC_Jan_2018.xlsx', header=1)
jan_vacation

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Mickle, Cory",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Gueli, Maria",0.0,L,L,L,L,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Ramesh, Shantie",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Maughan, Kevin",0.0,0,0,0,0,0.0,NaN,NaN,0,0,...,NaN,0,0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
"Amir, Nadia",0.0,0,0,0,0,0.0,0.0,L,L,L,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TOTAL,0.0,1,1,1,1,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Analysts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TBD,0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Sandhawalia, Soby",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Aberin, Mario",0.0,7.5,7.5,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"MariaFrancis, Jennifia",0.0,0,0,0,0,0.0,0.0,0,0,0,...,L,L,L,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Jereza, Agustin",0.0,L,L,L,L,0.0,0.0,L,L,L,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Papagiannidis, Kostas",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Kadoura, Zaki",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Mostoles, Sherylle",0.0,L,L,L,L,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Patel, Rita",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Jette, Christopher",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Huston, Virgilia",0.0,0,0,7.5,7.5,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.5
"Gibbons, Paul",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Jamal, Sarah",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"McQuarrie, Katrina",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"McQuarrie, Andrew",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"MacLellan, Jon",0.0,0,0,0,0,0.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"Stone, Randall",0.0,7.5,7.5,7.5,7.5,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Shah, Rohan",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Tompkins, Kevin",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Deschenes, Sylvia",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Lilbourne, Lauren",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Chohan, Sophia",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Feta, Samir",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Swaby, Oraine",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Das, Animesh",0.0,0,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TOTAL,0.0,4,4,4,4,0.0,0.0,1,1,1,...,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [55]:
vc_drop_list = ['Management','Mickle, Cory','Gueli, Maria','Ramesh, Shantie','Maughan, Kevin','Amir, Nadia','TOTAL','Analysts','TBD','NaN']
all_vacation = pd.read_excel('C:\\Project\\Data\\Vacation Calendar 2018.xlsx', sheetname='All' , header=1)
# jan_feb_vc = all_vacation.head(80)
# jan_feb_vc

In [56]:
all_vacation.loc['Management' : 'Management']

KeyError: "Cannot get left slice bound for non-unique label: 'Management'"

In [140]:
all_vacation = pd.read_excel('C:\\Project\\Data\\Vacation Calendar 2018.xlsx', sheetname='All', index_col=0)
all_vacation.columns = list(range(1,32))
all_vacation.head()

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
JANUARY 2018,,,,,,,,,,,,,,,,,,,,,
NaN,1.0,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29.0,30.0,31
Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Mickle, Cory",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Gueli, Maria",0.0,L,L,L,L,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Ramesh, Shantie",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [146]:
# Get the month & year. This would be used to get vacation information for the corresponding month and year. 
from datetime import datetime
current_month = datetime.now().strftime('%B') # 'August'
current_year = datetime.now().strftime('%Y')  # 2018
month_year = (current_month + ' ' + str(current_year)).upper()
#month_year = 'December 2018'
print("From : " , month_year)

# Get next month year. If current month is December , then set next_month_year to empty
from dateutil import relativedelta
next_month_year = ''
if month_year != 'December 2018':
    #nextmonth = datetime.date.today() + relativedelta.relativedelta(months=1)
    nextmonth = datetime.now() + relativedelta.relativedelta(months=1)
    next_month = nextmonth.strftime('%B')
    next_month_year = (next_month + ' ' + current_year).upper()

print("To : " , next_month_year)

From :  AUGUST 2018
To :  SEPTEMBER 2018

In [147]:
vc = all_vacation.loc[month_year : next_month_year ]
#vc = all_vacation.loc['August 2018' : 'September 2018' ]
vc
#jan_vc = all_vacation.loc[ : 'FEBRUARY 2018']
#feb_vc = all_vacation.loc['FEBRUARY 2018' : 'MARCH 2018']

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
JANUARY 2018,,,,,,,,,,,,,,,,,,,,,
AUGUST 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1.0,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29.0,30.0,31
Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Mickle, Cory",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Gueli, Maria",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Ramesh, Shantie",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Maughan, Kevin",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Amir, Nadia",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
TOTAL,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
Analysts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TBD,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Sandhawalia, Soby",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Aberin, Mario",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Feta, Samir",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"MariaFrancis, Jennifia",7.5,7.5,7.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Jereza, Agustin",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Papagiannidis, Kostas",0.0,0,0,0,0,0,7.5,7.5,7.5,7.5,...,0,0,0,0,0,0,0,0.0,0.0,0
"Kadoura, Zaki",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Mostoles, Sherylle",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Patel, Rita",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Jette, Christopher",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Lilbourne, Lauren",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Huston, Virgilia",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Gibbons, Paul",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Jamal, Sarah",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,7.5
"McQuarrie, Katrina",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"McQuarrie, Andrew",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"MacLellan, Jon",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Stone, Randall",7.5,7.5,7.5,0,0,0,7.5,7.5,7.5,7.5,...,0,0,0,0,0,0,0,0.0,0.0,0
"Deschenes, Sylvia",7.5,7.5,7.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Das, Animesh",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Tompkins, Kevin",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Shah, Rohan",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Chohan, Sophia",0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
"Swaby, Oraine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL,3.0,3,3,0,0,0,2,2,2,2,...,0,0,0,0,0,0,0,0.0,0.0,1
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEPTEMBER 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
# Based on current day & the analyst name, check if the analyst is on a vacation. 
current_day = datetime.now().strftime('%d')
print(current_day)
if vc.loc['Papagiannidis, Kostas'][13] == 7.5 : 
    print("Yes")
# MacLellan, Jon

12
Yes

In [108]:
#jan_vc['Stone, Randall', 2]
# jan_vc.loc['Huston, Virgilia'][4]

7.5

In [111]:
# feb_vc = all_vacation.loc['FEBRUARY 2018' : 'MARCH 2018']
# feb_vc.loc['Huston, Virgilia'][22]

7.5

# Various Teams in ESAM alloted to resolve Windows & Application tickets

In [104]:
import pandas as pd
analyst_teams = pd.read_excel('C:\\Project\\Data\\Global 2018 Operations Schedule.xlsx', sheetname='MONTHLY SCHEDULE', header = 2 , index_col=0)
analyst_teams

,# Analysts required,January,Febuary,March,April,May,June,July,August,September,October,November,Dec,Unnamed: 13
Late,2.0,"Sandhawalia, Soby","Lilbourne, Lauren","Patel, Rita","Kadoura, Zaki","Gibbons, Paul","Feta, Samir","Huston, Virgilia","Kadoura, Zaki","MariaFrancis, Jennifia","Papagiannidis, Kostas","Mostoles, Sherylle","Swaby, Oraine",NaN
NaN,NaN,"Jette, Christopher","Jereza, Agustin","McQuarrie, Katrina","Feta, Samir","Aberin, Mario","Sandhawalia, Soby",Mario /Kostas,"Shah, Rohan","McQuarrie, Katrina","Shah, Rohan","Aberin, Mario","Patel, Rita",NaN
Early,1.0,"McQuarrie, Andrew","Stone, Randall","MacLellan, Jon","McQuarrie, Katrina","Tompkins, Kevin","Deschenes, Sylvia","MacLellan, Jon","McQuarrie, Katrina","Tompkins, Kevin","McQuarrie, Andrew","Deschenes, Sylvia","Stone, Randall",NaN
Mailbox/ Passwords,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* See daily schedule
Windows,12.0,NaN,"Jamal, Sarah","Stone, Randall","Huston, Virgilia","McQuarrie, Katrina *","Stone, Randall","Stone, Randall","Deschenes, Sylvia","Stone, Randall","Stone, Randall","Huston, Virgilia","McQuarrie, Katrina",NaN
NaN,NaN,NaN,"Deschenes, Sylvia","McQuarrie, Andrew","Stone, Randall","Papagiannidis, Kostas","MacLellan, Jon","Tompkins, Kevin","Huston, Virgilia","Gibbons, Paul","MacLellan, Jon","Tompkins, Kevin","Tompkins, Kevin",NaN
NaN,NaN,NaN,Ryan,"Lilbourne, Lauren","Deschenes, Sylvia","Jereza, Agustin",Lauren,"Papagiannidis, Kostas","Tompkins, Kevin","Aberin, Mario","Deschenes, Sylvia","McQuarrie, Andrew","Gibbons, Paul",NaN
NaN,NaN,NaN,"MacLellan, Jon","Deschenes, Sylvia","Sandhawalia, Soby","Patel, Rita","Aberin, Mario","Lilbourne, Lauren","McQuarrie, Andrew","Jereza, Agustin","Sandhawalia, Soby","Sandhawalia, Soby","Sandhawalia, Soby",NaN
NaN,NaN,NaN,"Papagiannidis, Kostas","Papagiannidis, Kostas","Jereza, Agustin","Lilbourne, Lauren","Patel, Rita","Kadoura, Zaki","Sandhawalia, Soby","Patel, Rita","Mostoles, Sherylle","Papagiannidis, Kostas","Aberin, Mario",NaN
NaN,NaN,NaN,"Sandhawalia, Soby","Aberin, Mario","Mostoles, Sherylle","Kadoura, Zaki","Swaby, Oraine","Swaby, Oraine","Aberin, Mario","Shah, Rohan","McQuarrie, Katrina","Jereza, Agustin","Papagiannidis, Kostas",NaN
NaN,NaN,NaN,"Tompkins, Kevin","Gibbons, Paul","MariaFrancis, Jennifia","Swaby, Oraine","McQuarrie, Andrew","Das, Animesh","Jamal, Sarah","Swaby, Oraine",NaN,"Patel, Rita","Lilbourne, Lauren",NaN
NaN,NaN,NaN,"McQuarrie, Katrina","Tompkins, Kevin","Chohan, Sophia","Sandhawalia, Soby","Papagiannidis, Kostas","Sandhawalia, Soby","Patel, Rita",NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,"Feta, Samir","Das, Animesh","Das, Animesh",Noor,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,"Wrona, Anna","Wrona, Anna","Johnston, Dan",Kevin Tompkins,"Leigh, Michael","Leigh, Michael","Dorney, Niamh","Dorney, Niamh","Hardisty, Erin","Hardisty, Erin",NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chohan, Sophia",Moyad,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,"Dubissette, Donnette","Dubissette, Donnette","Dookie, Pamela","Fonrose, Sadicki","Wright, Diane","Byron, Jane","King, Sancha","Dookie, Pamela","Bullard, Gerald",NaN
NaN,NaN,NaN,NaN,NaN,"Byron, Jane","Dookie, Pamela","Adderley, Nikeisha","Wright, Diane","Bullard, Gerald","King, Sancha","Dubissette, Donnette","Adderley, Nikeisha","Fonrose, Sadicki",NaN
NaN,NaN,NaN,NaN,NaN,"King, Sancha","Adderley, Nikeisha","Fonrose, Sadicki","Bullard, Gerald","Byron, Jane","Dubissette, Donnette","Dookie, Pamela","Fonrose, Sadicki","Wright, Diane",NaN
NaN,NaN,NaN,NaN,"Isaacs, Shannon (s)","Isaacs, Shannon (s)","Cai, Jingyi - Charlotte (s)","Cai, Jingyi - Charlotte (s)","Cai, Jingyi - Charlotte (s)","Cai, Jingyi - Charlotte (s)",NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,"Das, Animesh (s)","Das, Animesh (s)",Chen (s),Chen (s),Chen (s),Chen (s),NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,"Cai, Jingyi - Charlotte (pt)","Cai, Jingyi - Charlotte (pt)",Aman (s),Aman (s),Aman (s),Aman (s),NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,"Baker, Moayad Â©",Arusha (s),Arusha (s),Arusha (s),Arusha (s),NaN,NaN,NaN,NaN,NaN
"Dominion Securities, E&T, PH&N",5.0,NaN,"Singh, Malikpreet Â©","Singh, Malikpreet Â©","Singh, Malikpreet Â©","Singh, Malikpreet Â©","Singh, Malikpreet Â©","Malik, Singh","Papagiannidis, Kostas","Feta, Samir","Chohan, Sophia","Kadoura, Zaki","MariaFrancis, Jennifia",NaN
NaN,NaN,NaN,"de Loyola, Krizia Louise Â©","de Loyola, Krizia Louise Â©","de Loyola, Krizia Louise Â©","de Loyola, Krizia Louise Â©","de Loyola, Krizia Louise Â©","de Loyola, Krizia Louise","Chohan, Sophia","Papagiannidis, Kostas","Kadoura, Zaki","Swaby, Oraine","Chohan, Sophia",NaN
NaN,NaN,NaN,"Swaby, Oraine Â©","Swaby, Oraine Â©","Iwu, Adaora Â©","Iwu, Adaora Â©","Iwu, Adaora Â©","Chohan, Sophia","Lilbourne, Lauren","Chohan, Sophia","MariaFrancis, Jennifia","Feta, Samir","Feta, Samir",NaN
NaN,NaN,NaN,"Chohan, Sophia","Chohan, Sophia","Papagiannidis, Kostas","Chohan, Sophia",NaN,NaN,"MariaFrancis, Jennifia",NaN,"Lilbourne, Lauren","Chohan, Sophia","Shah, Rohan",NaN
NaN,NaN,NaN,NaN,NaN,"Swaby, Oraine",NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wealth Management, Direct Investing, Capital Markets, Head Office",4.0,NaN,"Shah, Rohan","Kadoura, Zaki","Shah, Rohan","MacLellan, Jon",Samir Feta,"Feta, Samir","Swaby, Oraine","MacLellan, Jon","Tompkins, Kevin","Jamal, Sarah","Kadoura, Zaki",NaN
NaN,NaN,NaN,"Kadoura, Zaki","Sandhawalia, Soby","Tompkins, Kevin","Feta, Samir",Rohan Shah,"Jamal, Sarah","Shah, Rohan","Sandhawalia, Soby","Swaby, Oraine","Lilbourne, Lauren","Jamal, Sarah",NaN
NaN,NaN,NaN,"Feta, Samir","Feta, Samir","Lilbourne, Lauren","Shah, Rohan",,NaN,NaN,"Kadoura, Zaki","Feta, Samir","Shah, Rohan",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,"Jette, Christopher",NaN,NaN,"Jamal, Sarah",NaN,"Gibbons, Paul",NaN,NaN,NaN,NaN,NaN,NaN
"Cards & Payments, RBC Bank",2.0,NaN,"MariaFrancis, Jennifia","MariaFrancis, Jennifia","Jette, Christopher","Deschenes, Sylvia","MariaFrancis, Jennifia","Deschenes, Sylvia","Mostoles, Sherylle","Deschenes, Sylvia","Jamal, Sarah","MariaFrancis, Jennifia","Deschenes, Sylvia",NaN
NaN,NaN,NaN,"Mostoles, Sherylle","Jamal, Sarah","Jamal, Sarah","Mostoles, Sherylle","Jamal, Sarah","MariaFrancis, Jennifia","Jette, Christopher","Jamal, Sarah","Jette, Christopher","Jette, Christopher","Mostoles, Sherylle",NaN
UK I&TS,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"** See Task Schedule, Bedford - RBCIS Mailbox ..."
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Caribbean,5.0,"Dookie, Pamela","Dookie, Pamela","Dookie, Pamela","Dookie, Pamela","Fonrose, Sadicki","Wright, Diane","Byron, Jane","King, Sancha","Dookie, Pamela","Adderley, Nikeisha","Wright, Diane","Byron, Jane",NaN
NaN,NaN,"Adderley, Nikeisha","Adderley, Nikeisha","Adderley, Nikeisha","Adderley, Nikeisha","Wright, Diane","Bullard, Gerald","King, Sancha","Dubissette, Donnette","Adderley, Nikeisha","Fonrose, Sadicki","Bullard, Gerald","King, Sancha",NaN
NaN,NaN,"Fonrose, Sadicki","Fonrose, Sadicki","Fonrose, Sadicki","Fonrose, Sadicki","Bullard, Gerald","Byron, Jane","Dubissette, Donnette","Dookie, Pamela","Fonrose, Sadicki","Wright, Diane","Byron, Jane","Dubissette, Donnette",NaN
NaN,NaN,"Wright, Diane","Wright, Diane","Wright, Diane","Wright, Diane","Byron, Jane","King, Sancha","Dookie, Pamela","Adderley, Nikeisha","Wright, Diane","Bullard, Gerald","King, Sancha","Dookie, Pamela",NaN
NaN,NaN,"Bullard, Gerald","Bullard, Gerald","Bullard, Gerald","Bullard, Gerald","King, Sancha","Dubissette, Donnette","Adderley, Nikeisha","Fonrose, Sadicki","Bullard, Gerald","Byron, Jane","Dubissette, Donnette","Adderley, Nikeisha",NaN
NaN,NaN,"Dubissette, Donnette","Dubissette, Donnette","Dubissette, Donnette",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,"Byron, Jane","Byron, Jane","Byron, Jane",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,"King, Sancha","King, Sancha","King, Sancha",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK Wealth Mgmt,4.0,"Dorney, Niamh","Dorney, Niamh","Hardisty, Erin","Hardisty, Erin","Hardisty, Erin","Hardisty, Erin","Johnston, Dan","Johnston, Dan","Leigh, Michael","Leigh, Michael","Wrona, Anna","Wrona, Anna",NaN
NaN,NaN,"Hardisty, Erin","Hardisty, Erin","Johnston, Dan","Johnston, Dan","Leigh, Michael","Leigh, Michael","Hardisty, Erin","Hardisty, Erin","Wrona, Anna","Wrona, Anna","Dorney, Niamh","Dorney, Niamh",NaN
NaN,NaN,"Johnston, Dan","Johnston, Dan","Leigh, Michael","Leigh, Michael","Wrona, Anna","Wrona, Anna","Wrona, Anna","Wrona, Anna","Hardisty, Erin","Hardisty, Erin","Leigh, Michael","Leigh, Michael",NaN
NaN,NaN,"Leigh, Michael","Leigh, Michael",NaN,NaN,NaN,NaN,"Dorney, Niamh","Dorney, Niamh",NaN,NaN,"Johnston, Dan","Johnston, Dan",NaN
NaN,NaN,"Wrona, Anna","Wrona, Anna",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US PCG,3.0,"Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan","Ding, Dan",NaN
NaN,NaN,"Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher","Chea, Christopher",NaN
NaN,NaN,NaN,NaN,"Dorney, Niamh","Dorney, Niamh","Dorney, Niamh","Dorney, Niamh",NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US Corp,3.0,"Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi","Shupien, Judi",NaN
NaN,NaN,NaN,NaN,"Nadeau, Meagan Â©","Nadeau, Meagan Â©","Nadeau, Meagan Â©","Nadeau, Meagan Â©",NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Craig Â©,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US CAS,3.0,"Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly","Dickerson, Kelly",NaN
NaN,NaN,"Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron","Onchwari, Hezron",NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,47.0,21,44,48,50,50,49,47,45,40,40,41,41,NaN

In [105]:
# This gives all the teams we have. This would be used to get team members
team_name = []
team_index = analyst_teams.index.tolist()
for t in team_index:
    if type(t) is str:
        team_name.append(t)
print(team_name)

['Late', 'Early', 'Mailbox/ Passwords', 'Windows', 'Dominion Securities, E&T, PH&N', 'Wealth Management, Direct Investing, Capital Markets, Head Office', 'CDN I&TS', 'Insurance', 'Cards & Payments, RBC Bank', 'UK I&TS', 'Caribbean', 'UK Wealth Mgmt', 'US PCG', 'US Corp', 'US CAS', 'Total']

In [106]:
# Get the month for which we want the team for . 
from datetime import datetime
current_month = datetime.now().strftime('%B') # 'August'

In [116]:
team_list = {} # Dictionary of team name as key & team mates as value. 

for t in range(len(team_name) - 1):
    team = analyst_teams.loc[team_name[t]:team_name[t+1] , current_month]
    team = team.iloc[:len(team) - 1]
    team.reset_index(drop=True,inplace=True)
    team = team.loc[~team.isnull()]
    team = team[:len(team)]
    team_list[team_name[t]] = team

team_list



#windows_team = analyst_teams.loc['Windows':'Dominion Securities, E&T, PH&N' , current_month]
# cards_team = analyst_teams.loc['Cards & Payments, RBC Bank':'UK I&TS', current_month]
# cards_team = cards_team.iloc[:len(cards_team) - 1]
# cards_team
#len(windows_team)
#windows_team
# windows_team.reset_index(drop=True,inplace=True)
# windows_team = windows_team[:len(windows_team) - 1]

{'CDN I&TS': 0    MacLellan, Jon
 1    Stone, Randall
 Name: August, dtype: object,
 'Cards & Payments, RBC Bank': 0    Mostoles, Sherylle
 1    Jette, Christopher
 Name: August, dtype: object,
 'Caribbean': 0            King, Sancha
 1    Dubissette, Donnette
 2          Dookie, Pamela
 3      Adderley, Nikeisha
 4        Fonrose, Sadicki
 Name: August, dtype: object,
 'Dominion Securities, E&T, PH&N': 0     Papagiannidis, Kostas
 1            Chohan, Sophia
 2         Lilbourne, Lauren
 3    MariaFrancis, Jennifia
 Name: August, dtype: object,
 'Early': 0    McQuarrie, Katrina
 Name: August, dtype: object,
 'Insurance': 0      Gibbons, Paul
 1    Jereza, Agustin
 Name: August, dtype: object,
 'Late': 0    Kadoura, Zaki
 1      Shah, Rohan
 Name: August, dtype: object,
 'Mailbox/ Passwords': Series([], Name: August, dtype: object),
 'UK I&TS': Series([], Name: August, dtype: object),
 'UK Wealth Mgmt': 0     Johnston, Dan
 1    Hardisty, Erin
 2       Wrona, Anna
 3     Dorney, Niamh
 Name: August, dtype: object,
 'US CAS': 0    Dickerson, Kelly
 1    Onchwari, Hezron
 Name: August, dtype: object,
 'US Corp': 0    Shupien, Judi
 Name: August, dtype: object,
 'US PCG': 0            Ding, Dan
 1    Chea, Christopher
 Name: August, dtype: object,
 'Wealth Management, Direct Investing, Capital Markets, Head Office': 0    Swaby, Oraine
 1      Shah, Rohan
 Name: August, dtype: object,
 'Windows': 0                Deschenes, Sylvia
 1                 Huston, Virgilia
 2                  Tompkins, Kevin
 3                McQuarrie, Andrew
 4                Sandhawalia, Soby
 5                    Aberin, Mario
 6                     Jamal, Sarah
 7                      Patel, Rita
 9                   Leigh, Michael
 11                   Wright, Diane
 12                 Bullard, Gerald
 13                     Byron, Jane
 14    Cai, Jingyi  - Charlotte (s)
 15                        Chen (s)
 16                        Aman (s)
 17                      Arusha (s)
 Name: August, dtype: object}

In [117]:
team_list['Windows']

0                Deschenes, Sylvia
1                 Huston, Virgilia
2                  Tompkins, Kevin
3                McQuarrie, Andrew
4                Sandhawalia, Soby
5                    Aberin, Mario
6                     Jamal, Sarah
7                      Patel, Rita
9                   Leigh, Michael
11                   Wright, Diane
12                 Bullard, Gerald
13                     Byron, Jane
14    Cai, Jingyi  - Charlotte (s)
15                        Chen (s)
16                        Aman (s)
17                      Arusha (s)
Name: August, dtype: object

# The various Application analyst work on.

In [122]:
import pandas as pd

application_teams = pd.read_excel('C:\\Project\\Data\\Global 2018 Operations Schedule.xlsx', sheetname='Application List', header = 1)
# Need inplace=True
application_teams_after_drop = application_teams.dropna(how='all',axis=1)
application_teams_after_drop

,Dominion Securities,Estate & Trust,PH&N,Head Office,Direct Investing,Capital Markets,WM Canada,Insurance,Cards and Payments,RBC Bank,Canadian I&TS,UK I&TS,Miscellaneous
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,BTS Client 069 - BTS4,BTS Client 069 - BTS4,BERTON,BTS Client 069 - BTS4,BTS Client 069 - BTS4,BTS Client 069 - BTS4,BTS Client 069 - BTS4,Individual CAS,Ernex,ImageCentre,Securities Lending,Milvus,XNET
NaN,BTS Client 069 - IDM GFW,BTS Client 069 - IDM GFW,BTS Client 069 - BTS4,BTS Client 069 - IDM GFW,BTS Client 069 - IDM GFW,BTS Client 069 - IDM GFW,BTS Client 069 - IDM GFW,Group CAS,TSYS Credit 2430,Web CSR,Securities Lending â€“ Interactive,Swift Alliance,CIA
NaN,BERTON,BERTON,BTS Client 069 - IDM GFW,BERTON,BERTON,BTS Client 006,BERTON,AS400 H&A,TSYS Credit 8880,Interconnect â€“ Compare CAN,CCA,Crest Gateway,Saas Dynatrace
NaN,FUNDCOM,Clientlink,Costlink,FUNDCOM,FUNDCOM,DFR,FUNDCOM,ASSURE,Tsys Access Manager,Interconnect â€“ Compare US,RTAX,Crest GUI,RACF
NaN,JEFE,JEFE,SecureAPI,JEFE,SecureAPI,P&L NY,JEFE,Bright Solutions 2,Digital Document System (DDS),Interconnect â€“ Verifier CAN,TRAX,Euclid,NaN
NaN,SecureAPI,SecureAPI,Clientlink,SecureAPI,Clientlink,IMATCH,SecureAPI,VL CLAIMS,Quick Remit,Interconnect â€“ Verifier US,Trust Accounting,Tax Manager,NaN
NaN,Clientlink,NaN,FUNDCOM,Clientlink,NaN,ITRASCOP,Clientlink,Xactimate and XactAnalysis,Millenium â€“ Image Retrieval,eDelivery,SMAC / MVP,ACE,NaN
NaN,NaN,NaN,NaN,Clientview PB,NaN,RIMMS - TOR/LON/NY,NISS,LIFESUITE,Trans Union Direct,Qualifile,ARROW,FAS,NaN
NaN,NaN,NaN,NaN,SmartOffice,NaN,StorQM,COMS,CAREER CAPSIL,Visa Online Portal,RDC,CDS,FEA,NaN
NaN,NaN,NaN,NaN,WebCSR,NaN,APEX,NaN,BROKER CAPSIL,Web IR,PartnerCare,BNY Workbench,SAS,NaN
NaN,NaN,NaN,NaN,NaN,NaN,CM Workflow,NaN,FASAT,TLP â€“ TSYS Loyalty Platform,Enterprise Watchlist (EWL),PVTO / Virtual Statements,CAPS,NaN
NaN,NaN,NaN,NaN,NaN,NaN,Clarity - SWIFT,NaN,FINEOS,NaN,Epitome,Global Plus,CAB Manager,NaN
NaN,NaN,NaN,NaN,NaN,NaN,ICI PROD,NaN,INGENIUM (NEXUS),NaN,Kobie Alchemy,SIPS,RBSi Bankline,NaN
NaN,NaN,NaN,NaN,NaN,NaN,PBAdmin,NaN,ProClaim,NaN,Intrader,IPS,BoNY,NaN
NaN,NaN,NaN,NaN,NaN,NaN,OCC,NaN,Grape,NaN,NaN,PPS,HSBC,NaN
NaN,NaN,NaN,NaN,NaN,NaN,Loanet,NaN,AS400 Travel,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,SmartLoan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,EUCLID,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
#List of apps within a domain, can be consider as a series.

In [126]:
d_s = application_teams_after_drop['Dominion Securities']
type(d_s)

pandas.core.series.Series

In [129]:
d_s.dropna()

NaN                         NaN
NaN       BTS Client 069 - BTS4
NaN    BTS Client 069 - IDM GFW
NaN                      BERTON
NaN                     FUNDCOM
NaN                        JEFE
NaN                   SecureAPI
NaN                  Clientlink
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN
Name: Dominion Securities, dtype: object

In [ ]:
# Add comments to excel cell so the leads have information to decide their pick

# Ticket in Queue per analyst

### Used to determine availability of an analyst. We'll use it to decide how many tickets should be assigned, based on the number of tickets in the analyst's queue.

In [205]:
# Utility Function. Convert objects to int. Required for Assigned to column, which has float values for employee id. 
# This function helps fix that. Already present in main notebook
import numpy as np
def object_to_int(x):
    try:
        return int(x)
    except ValueError:
        return np.nan

In [206]:
import pandas as pd
availability_columns = ['Assigned to','Pending Customer','Client Base']
availability = pd.read_csv("C:\\Project\\Data\\availability.csv" , encoding='latin-1' , usecols=availability_columns )
availability = availability.loc[~availability['Assigned to'].isnull()]
availability['Pending Customer'] = availability['Pending Customer'].fillna('FALSE')
availability['Assigned to'] = availability['Assigned to'].apply(object_to_int)
availability.loc[availability['Assigned to'].isin(['310294822'])]

     Assigned to Pending Customer                      Client Base
4      310294822             TRUE  Capital Markets IT & Operations
13     310294822             TRUE       Wealth Management - Non US
14     310294822             TRUE          Technology & Operations
16     310294822             TRUE       Wealth Management - Non US
17     310294822             TRUE       Wealth Management - Non US
19     310294822             TRUE       Wealth Management - Non US
55     310294822            FALSE            Group Risk Management
56     310294822             TRUE          Technology & Operations
71     310294822             TRUE       Wealth Management - Non US
72     310294822             TRUE          Technology & Operations
79     310294822             TRUE          Technology & Operations
111    310294822             TRUE            Group Risk Management
126    310294822             TRUE            Group Risk Management
137    310294822            FALSE       Wealth Management - Non US
143    310294822            FALSE  Capital Markets IT & Operations
146    310294822            FALSE  Capital Markets IT & Operations
152    310294822            FALSE                  Capital Markets
153    310294822            FALSE                  Capital Markets
159    310294822            FALSE       Wealth Management - Non US
160    310294822            FALSE       Wealth Management - Non US
181    310294822             TRUE  Capital Markets IT & Operations
245    310294822            FALSE                  Capital Markets
250    310294822            FALSE  Capital Markets IT & Operations
255    310294822            FALSE       Wealth Management - Non US
263    310294822            FALSE       Wealth Management - Non US
264    310294822            FALSE       Wealth Management - Non US
278    310294822            FALSE  Capital Markets IT & Operations
297    310294822            FALSE  Capital Markets IT & Operations
328    310294822            FALSE  Capital Markets IT & Operations
334    310294822            FALSE           Wealth Management - US

In [209]:
availability_grouped = availability.groupby(['Assigned to','Pending Customer']).count()
availability_grouped.rename(columns = {'Client Base' : 'No_of_Tickets_Assigned'} , inplace=True)
availability_grouped

                              No_of_Tickets_Assigned
Assigned to Pending Customer
178412342   FALSE                                 11
            TRUE                                  34
180190019   FALSE                                 17
            TRUE                                  25
184831246   FALSE                                  1
            TRUE                                  33
191458827   FALSE                                 19
            TRUE                                   2
195808886   FALSE                                  1
            TRUE                                   1
291180362   FALSE                                 14
            TRUE                                   5
294555602   TRUE                                   2
296472020   FALSE                                  7
            TRUE                                   5
310294822   FALSE                                 17
            TRUE                                  13
311145288   FALSE                                  6
            TRUE                                  10
312363658   TRUE                                   1
319749875   FALSE                                 16
            TRUE                                   2
324653500   FALSE                                 32
            TRUE                                  10
326291085   FALSE                                 28
            TRUE                                  15
328453238   FALSE                                 39
            TRUE                                  11
328728829   FALSE                                 14
            TRUE                                   9
...                                              ...
535902738   TRUE                                   1
543589881   TRUE                                   1
544269145   FALSE                                  2
            TRUE                                  11
631444387   FALSE                                 10
            TRUE                                  18
648708485   FALSE                                105
            TRUE                                  47
662377118   FALSE                                  1
698544350   FALSE                                 22
            TRUE                                   8
776883118   FALSE                                  9
            TRUE                                   4
787489756   FALSE                                 35
            TRUE                                   4
803530104   TRUE                                   1
848792669   TRUE                                   1
850097346   FALSE                                  4
856836887   FALSE                                  5
            TRUE                                   1
856895107   FALSE                                  5
            TRUE                                  31
858410889   FALSE                                  4
            TRUE                                   4
859476285   FALSE                                  7
            TRUE                                   1
936531946   FALSE                                 13
            TRUE                                   5
956519110   FALSE                                  1
            TRUE                                   1

[82 rows x 1 columns]

In [213]:
availability_grouped.loc[('191918473','FALSE')]['No_of_Tickets_Assigned']
# #availability_grouped.index.get_level_values('Assigned to')
# availability_grouped.index

KeyError: 'the label [191918473] is not in the [index]'

In [177]:
# Get Current Roaster 
import os
os.environ['PROJECT_DIR'] = "C:\\Users\\581686284\\PycharmProjects\\Automated_Ticket_Management-2\\"
# Get Team List
team_data_columns = ['Name','Status','Employee #','Windows & Appliciation (Line of Business) Skillset']
team_sheet = pd.read_excel(os.environ['PROJECT_DIR'] + 'rawdata\\Team List.xlsx' , header=1 , usecols = team_data_columns, index_col = 2)
team_sheet_without_leads = team_sheet.loc[team_sheet['Status'] != 'FTE Team Lead']
analyst_emp_id = team_sheet_without_leads.index.tolist()
analyst_emp_id
#team_sheet_without_leads

[191918473,
 329338909,
 319749875,
 311145288,
 856895107,
 184831246,
 330086414,
 328874185,
 648708485,
 848792669,
 535506877,
 776883118,
 314884594,
 787489756,
 668401755,
 329808695,
 544269145,
 330086414,
 522079805,
 698544350,
 521307710,
 310294822,
 291180362,
 631444387,
 191458827,
 956519110,
 936531946,
 312363658,
 535902738,
 850772930,
 535567176,
 318215316,
 328453238,
 180190019,
 324653500,
 178412342,
 311485742]

In [214]:
len(analyst_emp_id)
tickets_analyst_queue = {}
for analyst in analyst_emp_id:
    try:
        tickets_analyst_queue[analyst] = availability_grouped.loc[(analyst,'FALSE')]['No_of_Tickets_Assigned']
    except Exception as e:
        print(e)
        tickets_analyst_queue[analyst] = 0
tickets_analyst_queue

'the label [191918473] is not in the [index]'
'the label [328874185] is not in the [index]'
'the label [FALSE] is not in the [columns]'
'the label [535506877] is not in the [index]'
'the label [314884594] is not in the [index]'
'the label [668401755] is not in the [index]'
'the label [522079805] is not in the [index]'
'the label [FALSE] is not in the [columns]'
'the label [FALSE] is not in the [columns]'
'the label [FALSE] is not in the [columns]'
'the label [850772930] is not in the [index]'
'the label [318215316] is not in the [index]'
'the label [311485742] is not in the [index]'

{178412342: 11,
 180190019: 17,
 184831246: 1,
 191458827: 19,
 191918473: 0,
 291180362: 14,
 310294822: 17,
 311145288: 6,
 311485742: 0,
 312363658: 0,
 314884594: 0,
 318215316: 0,
 319749875: 16,
 324653500: 32,
 328453238: 39,
 328874185: 0,
 329338909: 9,
 329808695: 20,
 330086414: 5,
 521307710: 0,
 522079805: 0,
 535506877: 0,
 535567176: 3,
 535902738: 0,
 544269145: 2,
 631444387: 10,
 648708485: 105,
 668401755: 0,
 698544350: 22,
 776883118: 9,
 787489756: 35,
 848792669: 0,
 850772930: 0,
 856895107: 5,
 936531946: 13,
 956519110: 1}

In [215]:
len(tickets_analyst_queue)

36

In [ ]:
# Need reference to team list to get list of all analyst employee id to get to know, how many tickets they have in their queue & 
# Pending customer

In [211]:
my_dict = {}
for i in range(5):
    my_dict[i] = i * 10
my_dict

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}