In [15]:
import pandas as pd

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                index=['cobra', 'viper', 'sidewinder'],
                columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [16]:
max_speed_column = df['max_speed'].copy()
max_speed_column['cobra'] = 5
max_speed_column

cobra         5
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [17]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [18]:
df_1 = df['max_speed']
df_1

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64